<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <link rel="stylesheet" href="styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//use.edgefonts.net/amethysta.js"></script>

    <title>Aureus HR Portal</title>



</head>
<body ng-app="HRModule">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <img class="image" src="images/aureusLogo.png"/>
            <div class="account-wall">

                <form name="loginForm" class="form-signin" novalidate>

                    <div>
                    <input type="email" class="form-control" placeholder="Email" ng-model="login.email" name="uEmail" required autofocus/>
                        <div ng-show="loginForm.uEmail.$touched && loginForm.uEmail.$dirty">
                        <div class="error" ng-show="loginForm.uEmail.$error.required">Email is Required.</div>
                        <div class="error" ng-show="loginForm.uEmail.$error.email">Email is wrong format.</div>
                        </div>
                    </div>
                    <br/>


                    <input type="password" class="form-control" placeholder="Password" name="uPwd" ng-model="login.pwd" required>
                    <div class="error" ng-show="loginForm.uPwd.$touched && loginForm.uPwd.$dirty && loginForm.uPwd.$error.required">
                        Password is Required.
                    </div>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
                <a href="#" class="text-center new-account">Create an account </a>
            </div>

        </div>
    </div>
</div>
<script src="app.js"></script>

</body>
</html>
